---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import App from '../components/App.astro'

---

<Layout title="Welcome to Astro.">
	<main class="bg-gradient-to-b from-cyan-700 to-fuchsia-400">
		<header>
			<Nav></Nav>
		</header>

		<section class="text-gray-600 body-font">
			<App></App>
		</section>

	</main>
</Layout>

<style>
	

</style>
