---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import App from '../components/App.astro'
import config from "../../config"
import Plugins from '../components/Plugins.astro'
---

<Layout title={config.App.Name+"--"+config.App.Descript}>
	<main class="bg-gradient-to-b from-cyan-800 to-fuchsia-400">
		<header>
			<Nav></Nav>
		</header>

		<section class="text-gray-600 body-font">
			<App></App>
		</section>

		
		<Plugins>
			
		</Plugins>
	</main>
</Layout>

<style>
	

</style>
