---
import {Plugin} from './Plugin'
---


<div class="flex items-center justify-center min-h-screen">
    <div class="bg-white p-4 rounded-lg shadow-md">
        <div class="w-24 h-24 bg-black rounded-full relative">
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <div class="w-2 h-6 bg-white absolute top-0 left-1/2 transform -translate-x-1/2"></div>
                <div class="w-2 h-6 bg-white absolute top-0 left-1/2 transform -translate-x-1/2 rotate-45"></div>
                <div class="w-2 h-6 bg-white absolute top-0 left-1/2 transform -translate-x-1/2 rotate-90"></div>
                <div class="w-2 h-6 bg-white absolute top-0 left-1/2 transform -translate-x-1/2 rotate-135"></div>
                <div class="w-2 h-6 bg-white absolute top-0 left-1/2 transform -translate-x-1/2 rotate-180"></div>
                <div class="w-2 h-6 bg-white absolute top-0 left-1/2 transform -translate-x-1/2 rotate-225"></div>
                <div class="w-2 h-6 bg-white absolute top-0 left-1/2 transform -translate-x-1/2 rotate-270"></div>
                <div class="w-2 h-6 bg-white absolute top-0 left-1/2 transform -translate-x-1/2 rotate-315"></div>
            </div>
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <div class="w-1 h-8 bg-red-500 absolute top-0 left-1/2 transform -translate-x-1/2"></div>
                <div class="w-1 h-6 bg-white absolute bottom-0 left-1/2 transform -translate-x-1/2"></div>
            </div>
        </div>
    </div>
</div>